<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futuristic Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home">

<div class="menu">
    <a href="/auth/login" class="button">Login</a>
    <a href="/auth/register" class="button">Register</a>

</div>

<div class="container">
        <div class="card">
            <h1>Welcome to New Marvel world</h1>
            <p>You have successfully got new super power!</p>
        </div>
    </div>


</body>
</html>
