<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Menu</title>
    <link rel="stylesheet" href="/css/owner-page.css"> <!-- Link to your CSS file -->
</head>
<body class="home">
<!-- Navbar with horizontal buttons -->
<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="/user/create-user">Create User</a></li>

        <li><a href="/user/show-users-by-role?role=USER">Show Users</a></li>

        <li><a href="/user/show-users-by-role?role=ADMIN">Show Admins</a></li>



        <li><a href="/user/delete/">Delete User</a></li>
        <li><a href="/auth/login">Back to Login</a></li>
    </ul>
</nav>
</body>
</html>
