<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="signup">

<div class="container">
  <h2>Sign Up</h2>
  <form action="/auth/register" method="post">
    <!-- Username -->
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>

    <!-- Surname -->
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input type="text" id="surname" name="surname" required>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <!-- Role -->
    <div class="form-group">
      <label for="role">Role:</label>
      <select id="role" name="role" required>
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
        <option value="OWNER">OWNER</option>
      </select>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>

    <!-- Birth Date -->
    <div class="form-group">
      <label for="birthDate">Birth Date:</label>
      <input type="date" id="birthDate" name="birthDate" required>
    </div>

    <!-- Phone Number -->
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" required>
    </div>

    <!-- Address -->
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" required>
    </div>

    <!-- Submit Button -->
    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a th:href="@{/auth/login}">Sign In</a></p>
</div>
</body>
</html>
